<div class="accounts-row" *ngIf="debitCreditRow">
  <app-gl-account-select [model]="debitCreditRow.debit.amount" [selectedAccount]="debitCreditRow.debit.glAccount" #debit name="Debit"></app-gl-account-select>
  <app-gl-account-select [model]="debitCreditRow.credit.amount"  [selectedAccount]="debitCreditRow.credit.glAccount"  #credit name="Credit"></app-gl-account-select>
</div>
<!--<div style="padding: 20px; display: flex; justify-content: center">-->
  <!--<button mat-button (click)="saveModel()">Save</button>-->
<!--</div>-->
