<div class="mainBookCase" *ngIf="mainBookRows && mainBookRows.length > 0">
  <div class="mainbookcaption"><h3>Main book case</h3></div>
  <div *ngFor="let debitCreditRow of mainBookRows">
    <app-select-accounts-row [debitCreditRow]="debitCreditRow"></app-select-accounts-row>
  </div>
</div>
<div style="display: flex; justify-content: center" class="buttons">
  <button mat-raised-button color="primary" (click)="addRow()">Add row</button>
  <button mat-raised-button color="primary" (click)="saveAll()">Save</button>
</div>
