<mat-card>
    <mat-card-header *ngIf="name" style="display: flex; justify-content: space-between">
      <div style="margin-left: 0px"><h4>{{name}}</h4></div>
      <mat-icon aria-hidden="false" aria-label="Example home icon" style="cursor: pointer" (click)="deleteClicked()">delete</mat-icon>
    </mat-card-header>
  <mat-card-content>
  <mat-form-field *ngIf="accounts">
    <mat-label>{{name}} account</mat-label>
    <mat-select [(value)]="selectedAccount">
      <mat-option  *ngFor="let account of accounts" [value]="account" >
        {{account.description}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="margin: 0px 10px">
    <input matInput type="number" placeholder="{{name}} amount" [(ngModel)]="model" min="0">
  </mat-form-field>
  </mat-card-content>
</mat-card>
